@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zeyada";
  src: url("./fonts/Zeyada-Regular.ttf") format("truetype");
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}
body {
  background-color: rgb(240, 253, 244);
  /* background-color: #659dbd; */
}
